{% include "header.html" %}
<!-- Header-->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ post.title }}</h1>
          <h2 class="subheading">{{ post.subtitle }}</h2>
          <span class="meta">
            Posted by
            <a href="#">{{ post.author.name }}</a>
            on {{ post.date }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Contents -->
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{ post.body|safe }}

        {% if current_user.id == 1 %}
        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-primary float-right" href="{{ url_for('edit_post', post_id=post.id) }}">
            Edit Post
          </a>
        </div>
        {% endif %}

        <!-- CKEditor -->
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='comment_text') }}

        <!-- Comment Form -->
        <form method="POST">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.comment_text.label(class="form-label") }}
            {{ form.comment_text(class="form-control") }}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <!-- Comments -->
        <div class="comment mt-4">
          <ul class="commentList list-unstyled">
            {% for comment in comments %}
              <li>
                <div class="commenterImage">
                  <img src="{{ comment.avatar_url }}" />
                </div>
                <div class="commentText">
                  {{ comment.text|safe }}
                  <span class="sub-text">{{ comment.comment_author.name }}</span>
                </div>
              </li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>

{% include "footer.html" %}