<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Post {{blogID}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="wrapper">

        <!-- BANNER SUPERIOR -->
        <div class="top" style="background-image: url('/static/images/posts_bg.jpg'); background-size: cover; background-position: center; height: 200px;">
            <div class="overlay">
                <div class="container">
                    <header class="d-flex justify-content-center py-3">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link text-white">Home</a></li>
                            <li class="nav-item"><a href="" class="nav-link active bg-danger text-white">Posts</a></li>
                            <li class="nav-item"><a href="{{ url_for('aboutMe') }}" class="nav-link text-white">About Me</a></li>
                            <li class="nav-item"><a href="{{ url_for('contactMe') }}" class="nav-link text-white">Contact Me</a></li>
                        </ul>
                    </header>
                </div>
            </div>
        </div>

        <!-- CONTEÚDO DO POST -->
        <div class="content container my-5">
            <div class="card p-4">
                <h2>{{ blogdata['title'] }}</h2>
                <p>{{ blogdata['subtitle'] }}</p>
                <hr>
                <p>
                    {{ blogdata['body'] }}
                </p>
                <a href="{{ url_for('home') }}">Go Back to Posts</a>
            </div>
        </div>

    </div>
     <!-- RODAPÉ -->
 <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="{{ url_for('aboutMe') }}" class="nav-link px-2 text-body-secondary">About Me</a></li>
      <li class="nav-item"><a href="{{ url_for('contactMe') }}" class="nav-link px-2 text-body-secondary">Contact Me</a></li>
    </ul>
    <p class="text-center text-body-secondary">© {{actual_year}} JpeBecker, Bootstrap</p>
  </footer>
</html>