<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Post {{blogID}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Blog post: Testing features</h1></div>
           </div>
        <div class="content">
            <div class="card">
                <h2>{{ blogdata['title'] }}</h2>
                <p>{{ blogdata['subtitle'] }}</p>
                <hr>
                <p>
                    {{ blogdata['body'] }}
                </p>
                <a href="{{ url_for('home') }}">Go Back to Posts</a>
            </div>

    </div>
</div>
</body>
<footer>
    <p>Made by @Jpebecker {{actual_year}}</p>
</footer>
</html>